@layer base {
  :root {
    --section-gap:var(--green-soft);

    --border-radius: 20px;

    --default-transition-speed: 250ms;

    --image-banner-spacing: 2em;
  }

  :root {
    --fs-200: clamp(0.70rem, calc(0.81rem + -0.13vw), 0.78rem);
    --fs-300: clamp(0.94rem, calc(0.94rem + 0.00vw), 0.94rem);
    --fs-400: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --fs-500: clamp(1.35rem, calc(1.24rem + 0.55vw), 1.67rem);
    --fs-600: clamp(1.62rem, calc(1.41rem + 1.05vw), 2.22rem);
    --fs-700: clamp(1.94rem, calc(1.59rem + 1.77vw), 2.96rem);
    --fs-800: clamp(2.33rem, calc(1.77rem + 2.81vw), 3.95rem);
    --fs-900: clamp(2.80rem, calc(1.94rem + 4.28vw), 5.26rem);
  }

  :root {
    --white: hsl(50, 50%, 98%);
    --white-soft: hsl(50, 50%, 92%);
    --black: hsl(0, 0%, 16%);
    --black-transparent: hsl(0, 0%, 16%, 38%);
    --green-soft-hue: 129;
    --green-soft-saturation: 19%;
    --green-soft-lightness: 60%;
    --green-soft: hsl(var(--green-soft-hue), var(--green-soft-saturation), var(--green-soft-lightness));

    --color-bg: var(--white-soft);
    --color-primary: var(--green-soft);
    --color-accent: var(--white-soft);
    --color-text: var(--black);
  }

  body {
    line-height: 2;
    background-color: var(--color-bg);
    overflow-x: hidden;
  }
}
