@layer reset, base, view, component;

@import './reset.css';
@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

@layer base {
  /* TODO make the scrollbar look nice */


  body,
  input,
  textarea {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: var(--fs-400);
    color: var(--color-text);
  }

  main {
    height: 100%;
    transform-style: preserve-3d;

    --section-block-padding: 1rem;
    --section-inline-padding: 2rem;
  }

  h1 {
    font-size: var(--fs-700);
    font-weight: 800;
  }

  h2 {
    font-weight: 700;
  }

  h3 {
    font-weight: 600;
  }

  h4 {
    font-weight: 500;
  }

  h1, h2, h3, h4 {
    line-height: 1.4;
    margin-block: 1.5em 0.5em;
    text-wrap: balance;
  }

  .content-grid {
    display: grid;
    max-width: 40ch;
    margin-inline: auto;
  }

  .section-wrapper {
    padding-inline: 2rem;
    max-width: 50ch;
    margin-inline: auto;
    padding-block: var(--section-block-padding);
  }

  section {
    position: relative;
  }

  section:not(.primary) {
    background-color: var(--color-bg);
  }

  section.primary {
    background-color: var(--color-primary);
    color: white;

    --section-block-padding: 2rem;
  }

  section.primary .section-wrapper {
    padding-block: var(--section-block-padding);
  }

  section p:not(:first-child) {
    margin-block: 2rem;
  }

  section.primary::before,
  section.primary::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--section-block-padding);

    background-color: var(--color-bg);
  }

  section.primary::before {
    -webkit-mask-image: url('../wave1.svg');
    mask-image: url('../wave1.svg');
    top: 0;
  }

  section.primary::after {
    -webkit-mask-image: url('../wave1.svg');
    mask-image: url('../wave1.svg');
    background-color: var(--color-primary);
    bottom: calc(-1 * var(--section-block-padding));
  }

  .image-banner {
    display: grid;
    grid-template-rows: clamp(20rem, 30vh + 20rem, 40rem);
    place-items: center;
    overflow: hidden;

    > h1 {
      padding: 0.5em 1em;

      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;

        background-color: #dfdfdf90;
        filter: blur(12px);
      }
    }

    > * {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
    }

    & + * {
      margin-top: var(--image-banner-spacing);
    }
  }

  section a {
    color: var(--color-primary);
    text-decoration: underline;
  }

  /* Utilities */

  .link-hover {
    display: grid;
    justify-content: center;
    padding: 0.2rem 0.4rem;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 0.2rem;
      margin-left: auto;
      transition: var(--default-transition-speed) all linear;
      background-color: var(--color-accent);
    }

    &:hover::after {
      width: 100%;
    }
  }

  .blur-background {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      inset: 0;
      mix-blend-mode: multiply;
      filter: blur(12px);
      background-color: #dfdfdf;
      border-radius: var(--border-radius);
    }

    &.dark::after {
      background-color: #00000060;
    }
  }

  .vertical-offset {
    margin-bottom: 4rem;
  }

  .form-submit-card-wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    top: 0;
    position: absolute;
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: column;
  }

  .form-submit-card {
    background-color: var(--color-bg);
    padding: 3rem;
    border-radius: 3rem;
    color: var(--color-text);

  }

  .form-submit-card h1 {
    margin-block-start: 0;
  }

  .return-home {
    padding: 1rem;
    border-radius: 1rem;
    background-color: hsl(var(--green-soft-hue), var(--green-soft-saturation), calc(var(--green-soft-lightness) + 10%));
    transition: 300ms;

  }

  .return-home:hover {
    background-color: hsl(var(--green-soft-hue), var(--green-soft-saturation), calc(var(--green-soft-lightness) + 20%));
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 1rem;
  }

  ::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 2rem;
  }

  ::-webkit-scrollbar-thumb {
    width: 90%;
    background: var(--color-primary);
    border-radius: 1rem;
    border: 2px solid var(--white);
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    --color-primary: hsl(var(--green-soft-hue), var(--green-soft-saturation), calc(var(--green-soft-lightness) + 10%));
  }
}
