@layer reset, base, view, component;

@import './reset.css';
@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

@layer base {
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: var(--fs-400);
  }

  main {
    height: 100%;
    transform-style: preserve-3d;

    --section-block-padding: 1rem;
    --section-inline-padding: 2rem;
  }

  h1 {
    font-size: var(--fs-700);
    font-weight: 800;
  }

  h2 {
    font-weight: 700;
  }

  h3 {
    font-weight: 600;
  }

  h4 {
    font-weight: 500;
  }

  h1, h2, h3, h4 {
    line-height: 1.4;
    margin-block: 1.5em 0.5em;
  }

  .content-grid {
    display: grid;
    max-width: 40ch;
    margin-inline: auto;
  }

  /* TODO fine tune */
  .section-wrapper {
  /* .title-container { */
    padding-inline: 2rem;
    /* max-width: 50rem; */
    max-width: 50ch;
    margin-inline: auto;
    padding-block: var(--section-block-padding);
  }

  section {
    position: relative;
  }

  section:not(.primary) {
    background-color: var(--color-bg);
  }

  section.primary {
    background-color: var(--color-primary);
    color: white;

    --section-block-padding: 2rem;
  }

  section.primary .section-wrapper {
    padding-block: var(--section-block-padding);
  }

  section p:not(:first-child) {
    margin-block: 2rem;
  }

  section.primary::before,
  section.primary::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--section-block-padding);

    background-color: var(--color-bg);
  }

  section.primary::before {
    -webkit-mask-image: url('../wave1.svg');
    mask-image: url('../wave1.svg');
    top: 0;
  }

  section.primary::after {
    -webkit-mask-image: url('../wave1.svg');
    mask-image: url('../wave1.svg');
    background-color: var(--color-primary);
    bottom: calc(-1 * var(--section-block-padding));
  }

  .image-banner {
    display: grid;
    grid-template-rows: clamp(20rem, 15vw + 20rem, 40rem);
    place-items: center;
    overflow: hidden;

    > h1 {
      padding: 0.5em 1em;

      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;

        background-color: #dfdfdf90;
        filter: blur(12px);
      }
    }
  }


  .image-banner>* {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

}
